/* .image-gallery-content .image-gallery-slide .image-gallery-image{
    display: none;
} */

.image-gallery-thumbnails-wrapper {
    position: relative;
    MARGIN: 0REM 2REM 0REM 4REM;
}

.image-gallery-right-nav {
    right: -50px;
    TOP: 3REM;
    COLOR: #e56017;
}

.image-gallery-left-nav {
    left: 0;
    TOP: 3REM;
    COLOR: #e56017;
}

.image-gallery-play-button {
    left: 0;
    display: none;
}

.image-gallery-slide .image-gallery-image {
    width: 76%;
    object-fit: contain;
}
/* 
.image-gallery-fullscreen-button .image-gallery-svg, .image-gallery-play-button .image-gallery-svg {
    display: none;
} */

.image-gallery-slide .image-gallery-description {
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    left: 45%; 
    bottom: 93%;
    line-height: 1;
    padding: 10px 20px;
    position: absolute;
    white-space: normal;
    justify-content: center;
    align-items: center;
}

.image-gallery-fullscreen-button {
    right: 0;
    color: #e56017;
}